{{attach_library('bootstrap_panda/swiper')}} {{ attach_library('bootstrap_panda/script-hp')}}

<div class="container-fluid main">
  {# Navbar #}
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="./themes/bootstrap_panda/images/logo.png" alt=""></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home">ACCUEIL</a></li>
        <li><a href="#concept">CONCEPT</a></li>
        <li><a href="#valeurs">VALEURS</a></li>
        <li><a href="#">KEY FEATURES</a></li>
        <li><a href="#">TESTER</a></li>
        <li><a href="#">BLOG</a></li>
      </ul>
    </div>
  </nav>

  {# Main #} {# Content #}

  <div class="container-fluid">
    <div class="row fold1" id="home">
      <div class="col-lg-12 blocFold1">
        <div class="container-fluid">
          <div class="row titre">
            <div class="col-lg-8" id="home">
              <p class="title">
                <span>P</span>anda
              </p>
              <p class="subtitle">la genouillère connectée</p>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row textbody">
            <div class="col-lg-4" >
              <p class="textbody">qui ipsa animi nostrum praesetium voluptaus odit nqui non impedit cum qui nostrum aliidfugit earuupta itationemtemporibus dignissimos distinctio nesse inventore reprehenderit quidem ut incidunt nihil necessitatibus
                rerum
              </p>
            </div>
          </div>
        </div>
         <div class="container-fluid">
          <div class="row button">
            <div class="col-lg-offset-4 col-lg-4" >
              <button class="btn btn-primary btn-outline">Tester notre produit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</div>
