<div class="container-fluid" id="footer">


  <div class="row">
    <div class="col-sm-4 bloc1Footer">
      <ul class="nav nav-pills nav-stacked">

        <li><a href="#home">ACCUEIL</a></li>
        <li><a href="#concept">CONCEPT</a></li>
        <li><a href="#valeurs">VALEURS</a></li>
        <li><a href="#key">KEY FEATURES</a></li>
        <li><a href="#tester">TESTER</a></li>
        <li><a href="#">BLOG</a></li>
      </ul>
    </div>
    <div class="col-sm-2 bloc2Footer">
      <p class="">SUIVEZ NOUS</p>
	   <p><i class="fa fa-linkedin fa-2x"></i><a target="_blank" href=""> Linkedin</a></p>
      <p><i class="fa fa-facebook fa-2x"></i><a target="_blank" href=""> Facebook</a></p>
     
      <p><i class="fa fa-twitter fa-2x"></i><a target="_blank" href=''> Twitter</a></p>
    </div>
    <div class="col-sm-2 bloc3Footer">
      <p class="">INFORMATION</p>
      <div class="iconPosition"></div>
      <div class="labelPosition">
        <p>CONTACT</p>
        <p>PRESSE</p>
        <p>MONTION LEGALES</p>
      </div>
    </div>
    <div class="col-sm-4 bloc4Footer">
      <p class="">REJOINEZ NOTRE NEWSLETTER</p>

    </div>
  </div>


</div>
